<div class="row tab-body balance-tab-body" style="display:none;">
  <div class="col-lg-8">
      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> SHARED DATA
          </div>
          <div class="panel-body">
            
            <div class="row open-shared">
              <div class="col-xs-12 col-sm-4">
                <h5>Open Access</h5>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h4><span id="validity">0 days</span><span class='label-help'> remaining</span></h4>
              </div>
              <div class=".col-xs-12 col-sm-4">
                <h4><span id="balance"> 0KB</span><span class='label-help'> remaining</span></h4>
              </div>
            </div>

            <div class="progress open-shared">
              <div class="progress-bar progress-bar-primary"></div>
              <div class="progress-bar progress-bar-supplemental-1"></div>
              <div class="progress-bar progress-bar-supplemental-2"></div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-sm-4">
                  <ul class="list-inline text-center">
                    <li id='primary-circle'></li>
                    <li>Primary</li>
                  </ul>
                </div>
                <div class="col-xs-5 col-sm-4">
                  <ul class="list-inline text-center">
                    <li id='supp1-circle'></li>
                    <li>Supplemental</li>
                  </ul>
                </div>
                <div class=".col-xs-5 col-sm-4">
                  <ul class="list-inline text-center">
                    <li id='supp2-circle'></li>
                    <li>Supplemental</li>
                  </ul>
                </div>
            </div>

            <hr>

            <div class="row smart-shared">
              <div class="col-xs-12 col-sm-4">
                <h5>SmartLife Free Access</h5>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h4><span id="validity">0 days</span><span class='label-help'> remaining</span></h4>
              </div>
              <div class=".col-xs-12 col-sm-4">
                <h4><span id="balance"> 0KB</span><span class='label-help'> remaining</span></h4>
              </div>
            </div>

            <div class="progress smart-shared">
              <div class="progress-bar progress-bar-primary"></div>
              <div class="progress-bar progress-bar-supplemental-1"></div>
              <div class="progress-bar progress-bar-supplemental-2"></div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-sm-4">
                  <ul class="list-inline text-center">
                    <li id='primary-circle'></li>
                    <li>Primary</li>
                  </ul>
                </div>
                <div class="col-xs-5 col-sm-4">
                  <ul class="list-inline text-center">
                    <li id='supp1-circle'></li>
                    <li>Supplemental</li>
                  </ul>
                </div>
                <div class=".col-xs-5 col-sm-4">
                  <ul class="list-inline text-center">
                    <li id='supp2-circle'></li>
                    <li>Supplemental</li>
                  </ul>
                </div>
            </div>

          </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> PERSONAL DATA
          </div>
          <div class="panel-body">
            
            <div class="row open-personal">
              <div class="col-xs-12 col-sm-4">
                <h5>Open Access</h5>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h4><span id="validity">0 days</span><span class='label-help'> remaining</span></h4>
              </div>
              <div class=".col-xs-12 col-sm-4">
                <h4><span id="balance"> 0KB</span><span class='label-help'> remaining</span></h4>
              </div>
            </div>

            <hr>

            <div class="row smart-personal">
              <div class="col-xs-12 col-sm-4">
                <h5>SmartLife Free Access</h5>
              </div>
              <div class="col-xs-12 col-sm-4">
                <h4><span id="validity">0 days</span><span class='label-help'> remaining</span></h4>
              </div>
              <div class=".col-xs-12 col-sm-4">
                <h4><span id="balance"> 0KB</span><span class='label-help'> remaining</span></h4>
              </div>
            </div>

          </div>
      </div>

      <div class="panel panel-default boosters">
          <div class="panel-heading">
              <i class="fa fa-bar-chart-o fa-fw"></i> BOOSTERS
          </div>
          <div class="panel-body">
            
            <div class="row title">
              <div class="col-xs-6 col-sm-4">
                <h5>NAME</h5>
              </div>
              <div class=".col-xs-6 col-sm-8">
                <h5><span id="balance">EXPIRATION</span></h5>
              </div>
            </div>

          </div>
      </div>
      <!-- /.panel -->
  </div>
</div>