<div class="row tab-body profile-tab-body" style="display:none;">
  <div class="col-lg-8">
      
    <div class="panel panel-default">
          <div class="panel-heading">PROFILE</div>
          <div class="panel-body">
            
            <dl class="dl-horizontal">
                <dt>First Name</dt>
                <dd id="first-name"></dd>
                <dt>Last Name</dt>
                <dd id="last-name"></dd>
                <dt>Mobile Number</dt>
                <dd id="msisdn"></dd>
                <dt>Role</dt>
                <dd id="role"></dd>
                <dt>Load Protected</dt>
                <dd id="load-protect"></dd>
                <dt class="group-members">Members</dt>

            </dl>
            
          </div>
    </div>
  </div>
</div>