<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
          <li class="sidebar-search">
              <div class="input-group custom-search-form">
                  <input type="text" id="search-user" class="form-control" placeholder="Mobile Number">
                  <span class="input-group-btn">
                  <button class="btn btn-default" id="search" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
              </div>
          </li>
          <li class="sidebar-tabs active" style="display:none;">
            <a href="#"><i class="fa fa-user fa-fw"></i>Subscriber<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li >
                  <a id="profile-tab" class="active">Profile</a>
                </li>
                <li>
                  <a id="balance-tab">Data</a>
                </li>
                <li>
                  <a id="transactions-tab">Transactions</a>
                </li>
            </ul>
          </li>
        
      </ul>
  </div>
</div>