<div class="row tab-body transactions-tab-body" style="display:none;">
  <div class="col-lg-8">
      <h4>TRANSACTIONS</h4>
      
      <table class="table-list" id="table-transactions">
        <thead>
            <tr>
              <th>Reference Number</th>
              <th>Item</th>
              <th>Purchased Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>